.part1{
  background-image:url(../img/Sofas/sofa1.webp);
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; 
  width: 100%;
  height: 90vh;
}
.Intro {
  display: flex;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* left side styling */
.i-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 2rem;
}
.i-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}
.i-name > :nth-child(1) {
  color: white;
  /* font-family: 'Cormorant'; */
  font-family: 'Arial', sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 2.5rem;
}
.i-name > :nth-child(2) {
  color: white;
  font-family: 'Cormorant';
  font-style: italic;
  font-weight: bold;
  font-size: 1rem;
}
.i-button {
  width: 10rem;
  height: 3rem;
  padding-top: 0%;
  padding-bottom: 0%;
}
