.BestSeller{
    background: #ffffff;
    margin-top: 2rem;
    height: 35rem;
}
.heading{
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.i2-name{
    color: rgb(50, 50, 50);
    font-size: 1.5rem;
    padding-top: 0.3rem;
}
.BestSellercontents{
    height: 30rem;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 0%;
}
.BestSellercontents a{
    text-decoration: none;
}
.BestSellercards{
    height: 25rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    border-radius: 0%;
    align-items: center;
    cursor: pointer;
    /* border: 1px solid black; */
    background: #4d3333;
    /* overflow: hidden; */
}

.itemDetails{
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    justify-content:space-evenly;
    /* border: 1px solid blue; */
    width: 100%;
    height: 3rem;
}
.ItemInfo{
    display: flex;
    flex-direction: row;
    height: 3rem;
    justify-content:space-evenly;
    /* gap: 1rem; */
    /* border: 1px solid red; */
}

.BestSellercards>a{
    text-decoration: none;
}
.BestSelleritemname {
    /* border: 1px solid black; */
    width: 10rem;
    padding: 0%;
    color: white;
    min-height: 2rem;
    overflow: hidden;
    font-size:large;
}

.BestSellerimg{
    overflow: hidden;
}
.BestSellerimg>img{
    width: 20rem;
    height: 20rem;
    transition: all 0.5s ease-in-out;
    object-fit: cover;
}
.BestSellerimg>img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.BestSellerprice{
    /* border: 1px solid black; */
    width: 7.5rem;
    color: rgb(255, 255, 255);
    font-size:large;
    display: flex;
    justify-content: right;
}